<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686688409966-1gavomlaum6152b1e87hrqfd5ld22eh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686688409966-1gavomlaum6152b1e87hrqfd5ld22eh9</string>
	<key>API_KEY</key>
	<string>AIzaSyBIbdgDFJKrHtaBMX1vprP9m7MMVjLF-tc</string>
	<key>GCM_SENDER_ID</key>
	<string>686688409966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devmandu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dev-mandu</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-mandu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686688409966:ios:3d317074eb64ec86dd497f</string>
</dict>
</plist>